/*=======
Stylesheet by Chris Johnson 
http://chrisltd.com
Created March 2013 
=======*/

/* HTML5 display definitions from h5bp.com */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* HELPERS
================= */

.hide { position: absolute; left:-999px; top: auto; width: 1px; height: 1px; overflow: hidden; }

.desktop_only { display: none; }

.remove { display: none; }

.reset { margin: 0; padding:0; border: 0; list-style: none; }

.clearboth { clear: both; } 

.floatright { float: right; } 

.floatleft { float: left;  } 

.alignright { float: right; margin: 0 0 10px 10px; } 

.alignleft { float: left; margin: 0 10px 10px 0; } 

.textcenter { text-align: center; }

.textright { text-align: right; }

.textleft { text-align: left; }

.sans { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.serif { font-family: Georgia, 'Times New Roman', Times, serif; }

.hr { display: block; height: 1px; width: 100%; background: #000; margin: 1em 0; }

.horizontal_list { list-style: none; margin: 0; padding: 0; }
.horizontal_list li { list-style: none; float: left; margin: 0; padding: 0; }

.ir { display: block; text-indent: -999em; overflow: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; } /* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack */ 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* BASE
================= */

body { overflow-y: scroll; background: rgb(231,231,231); color: rgb(41,44,53); font-family: "ff-meta-web-pro", sans-serif; -webkit-font-smoothing: antialiased;  }

img { max-width: 100%; }

a img { border: none; }

a { color: rgb(41,44,53); text-decoration: none; }

a:hover { color: rgb(194,68,52); }

h2, h2 a { color: rgb(231,231,231);  }

h2 a:hover { color: rgb(231,231,231); text-decoration: underline; }

h2 { text-transform: uppercase; letter-spacing: 1px; font-size: 1em; padding: .6em .9em; background: rgb(194,68,52); border-radius: 3px; text-shadow: 1px 1px 1px rgba(0,0,0,.2); }

h2 em { font-size: 70%; font-style: normal; }

header, [role="main"], footer { text-align: center; padding: 0 8px; }

.container { max-width: 960px; margin: 0 auto; text-align: left; }

[role="main"] { display: none; } /* Hide until ajax is done */

.logo { font-family: "chaloops-medium", serif; text-align: center; }

.logo b { color: rgb(194,68,52); }

.search { padding: .5em 0 1em; text-align: center; }

.search [type="search"] { width: 60%; border: none; border: 1px solid rgba(41,44,53, .2); padding: .75em 1em; box-sizing: border-box; font-size: 1.2em; border-radius: 3px; box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); outline: none; }

.search [type="search"]:focus { box-shadow: inset 0 0 5px rgb(194,68,52); }

.search [type="submit"] { background: rgba(41,44,53, .25); border: none; padding: .5em 1em; border: 1px solid rgba(41,44,53, .05); font-size: 1em; border-radius: 6em; margin-left: 8px; text-transform: uppercase; box-shadow: inset 1px 1px 3px rgba(255,255,255,.75); color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,.2); transition:  all .2s; }

.search [type="submit"]:active, .search [type="submit"]:hover {
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.25); background: rgba(41,44,53, .4);
}

.column ul { padding-left: 0; list-style: none; }

.column ul li { margin-bottom: 1em; } 

.news a:visited { color: #666; }

.weather img { background: #fff; border-radius: 6em; vertical-align: bottom; margin-right: 3px; }

footer .container { border-top: 3px solid rgb(194,68,52); padding-top: 1em; padding-bottom: 2em; }

.up { color: #299936; }

.down { color: #992954; }

.woot img { border-radius: 3px; }

.copyright { float: right; }

.settings { position: relative;  }

.settings [data-open-toggle] img { cursor: pointer; opacity: .8; }

.settings [data-open-toggle]:hover img { opacity: 1; }

.settings [data-open-toggle] img { vertical-align: -10px; }

.settings form { display: none; padding: 1em; color: rgb(231,231,231); border-radius: .75em; box-shadow: 1px 1px 4px rgba(0,0,0,.3); background: rgb(41,44,53); border: 3px solid  rgb(194,68,52); }

.settings form a { color: rgb(194,68,52); }

.settings label { width: 25%; display: inline-block; }

.settings label + input { width: 60%; margin-left: 5px; }

.settings [type="submit"] { text-transform: uppercase; }

 


/* MEDIA QUERIES
================= */


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

.column { width: 30%; margin-left: 5%; float: left; }

.column:first-child { margin-left: 0; }

.desktop_only { display: block; }

.mobile_only { display: none; }

.settings form { position: absolute; left: 115px; bottom: 0; }

}
 
@media print {

}